.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden off-screen */
  width: 250px;
  height: 100%;
  background-color: #f0f0f0;
  transition: left 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.sidebar-btn {
  position: fixed;
  top: 5%;
  left: 0;
  background-color: rgba(124, 204, 230, 0.856);
  transition: left 0.3s ease-in-out;
}

.sidebar-btn-txt {
  font-size: large;
  padding-bottom: 2%;
}
.hide-sidebar {
  background-color: rgba(124, 204, 230, 0.856);
}

.sidebar-option {
  width: 70%;
}

